.sprite_images-sprite, .sprite_images-sprite_img1, .sprite_images-sprite_img2, .sprite_images-sprite_img3, .sprite_images-sprite_img4, .sprite_images-sprite_img5 {
  background: url('../images/sprite_images-s75264d073e.png') no-repeat;
}

.sprite_images-sprite_img1 {
  background-position: 0 0;
  height: 46px;
  width: 50px;
}

.sprite_images-sprite_img2 {
  background-position: 0 -96px;
  height: 50px;
  width: 50px;
}

.sprite_images-sprite_img3 {
  background-position: 0 -46px;
  height: 50px;
  width: 50px;
}

.sprite_images-sprite_img4 {
  background-position: 0 -146px;
  height: 50px;
  width: 48px;
}

.sprite_images-sprite_img5 {
  background-position: 0 -196px;
  height: 50px;
  width: 34px;
}
